<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

  <h2>Your Leave Application History</h2>
  
  <div th:if="${#lists.isEmpty(laAnnual) and #lists.isEmpty(laMedical) and #lists.isEmpty(laCompensation)}">
    <p>You have no leave applications. Start applying a new one.</p>
  </div>
  
  <div th:if="${not #lists.isEmpty(laAnnual) OR #lists.isEmpty(laMedical) OR #lists.isEmpty(laCompensation)}">
    <table style=" border: 1;">
      <tr class="listHeading">
        <th><span th:text="#{fieldLabel.applicationDate}"></span></th>
        <th><span th:text="#{fieldLabel.leaveStartDate}"></span></th>
        <th><span th:text="#{fieldLabel.leaveEndDate}"></span></th>
        <th><span th:text="#{fieldLabel.workDelegate}"></span></th>
        <th><span th:text="#{fieldLabel.reason}"></span></th>
        <th><span th:text="#{fieldLabel.leaveType}"></span></th>
        <th><span th:text="#{fieldLabel.update}"></span></th>
        <th><span th:text="#{fieldLabel.withdraw}"></span></th>
      </tr>
      <tr th:each="course : ${laHistory}" class="listRecord">
        <td align="left" th:text="${#temporals.format(course.fromDate, 'yyyy-MM-dd')}">Id</td>
        <td align="left" th:text="${#temporals.format(course.fromDate, 'yyyy-MM-dd')}">From</td>
        <td align="left" th:text="${#temporals.format(course.toDate, 'yyyy-MM-dd')}">To</td>
        <td align="left" th:text="${course.fees}">Fees</td>
        <td align="left" th:text="${course.status}">Status</td>
        <td align="left" th:text="${course.status}">Status</td>
        <td align="left" th:text="${course.status}">Status</td>
        <td align="left" th:text="${course.status}">Status</td>
        <td>
          <div
            th:if="${#strings.equals(course.status, 'APPLIED')  or #strings.equals(course.status,'UPDATED')}">
            <a th:href="@{/staff/course/edit/}+${course.courseId}">Update</a>
          </div>
        </td>
        <td>
          <div
            th:if="${#strings.equals(course.status, 'APPLIED')  or #strings.equals(course.status,'UPDATED')}">
            <a th:href="@{/staff/course/withdraw/}+${course.courseId}">Withdraw</a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>