<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset = "ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


	<nav class="navbar navbar-expend-lg navbar-light bg-light">
	<h5 th:text="${name}"></h5>
	<a href="http://localhost:8080/leave/apply/annual" class = "nav-link active mr-auto">Apply for Annual Leave</a>
	<a href="http://localhost:8080/leave/apply/medical" class = "nav-link active mr-auto">Apply for Medical Leave</a>
	<a href="http://localhost:8080/leave/apply/compensation" class = "nav-link active mr-auto">Apply for Compensation Leave</a>
		<a href="http://localhost:8080/leave/history" class = "nav-link active mr-auto">My Leave History</a>
	<a href="http://localhost:8080/logout" class = "nav-link active">Logout</a> 
	</nav>

	<h1>Annual Application Page</h1>
	<form action="#" th:action="@{/leave/apply/annual}" th:object="${leaveAppForm}" method="post">
		<table>
			<tbody>

				<tr>
					<td><label>Leave Start Date:</label></td>
					<td><input type="date" th:value="*{leaveStartDate}" th:field="*{leaveStartDate}" /></td>
					<td th:if="${#fields.hasErrors('leaveStartDate')}" th:errors="*{leaveStartDate}"></td>
				</tr>
				<tr>
					<td><label>Leave End Date:</label></td>
					<td><input type="date" th:value="*{leaveEndDate}" th:field="*{leaveEndDate}" /></td>
					<td th:if="${#fields.hasErrors('leaveEndDate')}" th:errors="*{leaveEndDate}"></td>
				</tr>
				<tr>
					<td><label>Leave Start Time:</label></td>
					<td><input type="number" th:value="*{leaveStartTime}" th:field="*{leaveStartTime}" /></td>
					<td th:if="${#fields.hasErrors('leaveStartTime')}" th:errors="*{leaveStartTime}"></td>
				</tr>
				<tr>
					<td><label>Leave End Time:</label></td>
					<td><input type="number" th:value="*{leaveEndTime}" th:field="*{leaveEndTime}" /></td>
					<td th:if="${#fields.hasErrors('leaveEndTime')}" th:errors="*{leaveEndTime}"></td>
				</tr>
				
				<tr>
					<td><label>Work Dissemination:</label></td>
					<td><input type="text" th:field="*{workDelegate}" size="40" /></td>
					<td th:if="${#fields.hasErrors('workDelegate')}" th:errors="*{workDelegate}"></td>
				</tr>

				<tr>
					<td><label>Overseas Phone Number:</label></td>
					<td><input type="text" th:field="*{overseasPhone}" size="40" /></td>
					<td th:if="${#fields.hasErrors('overseasPhone')}" th:errors="*{overseasPhone}"></td>
				</tr>

				<tr>
					<td><label>Reason for Leave:</label></td>
					<td><input type="text" th:field="*{reason}" size="40" /></td>
					<td th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></td>
				</tr>

				<!--Set hidden values here- Assign session dynamically-->
				<!--ref: https://www.baeldung.com/spring-thymeleaf-hidden-inputs-->
				<tr>
					<td><input type="hidden" name="leaveTypeName" value="Annual" /></td>
				</tr>
				<tr>
					<!--Make this dynamic using ${} tag from session-->
					<td><input type="hidden" name="applicantId" value="${currentUserId}" /></td>
				</tr>

				<tr>
					<td></td>
					<td>
						<input type="submit" value="Create" class="blcass" />
						<input type="reset" value="Reset" class="blcass" />
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>

</html>