<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <h3>leaveApplication List Page</h3>

  <div th:if="${not #lists.isEmpty(leaveHistory)}">
    <table style="border: 1;">
      <tr class="listHeading">
        <th><span th:text="#{fieldLabel.Id}"></span></th>
        <th><span th:text="#{fieldLabel.applicationDate}"></span></th>
        <th><span th:text="#{fieldLabel.leaveStartDate}"></span></th>
        <th><span th:text="#{fieldLabel.leaveEndDate}"></span></th>
        <th><span th:text="#{fieldLabel.workDelegate}"></span></th>
        <th><span th:text="#{fieldLabel.status}"></span></th>
        <th><span th:text="#{fieldLabel.comment}"></span></th>
        <th><span th:text="#{fieldLabel.active}"></span></th>
        <th><span th:text="#{fieldLabel.reason}"></span></th>
        <th><span th:text="#{fieldLabel.leaveType.Id}"></span></th>
        <th><span th:text="#{fieldLabel.employee.id}"></span></th>
        <th><span th:text="#{caption.edit}"></span></th>
        <th><span th:text="#{caption.delete}"></span></th>
      </tr>
      <tr th:each="leave : ${leaveHistory}" class="listRecord">
        <td align="left" th:text="${leave.Id}">Id</td>
         <td align="left" th:text="${leave.applicationDate}">Name</td>
        <td align="left" th:text="${leave.leaveStartDate}">maxEntitlement</td>
        <td align="left" th:text="${leave.leaveEndDate}">minGranularity</td>
        <td align="left" th:text="${leave.workDelegate}">workDelegate</td>
        
        <td align="left" th:text="${leave.status}">Status</td>
        <td align="left" th:text="${leave.comment}">Comment</td>
        <td align="left" th:text="${leave.active}">Active</td>
        <td align="left" th:text="${leave.reason}">reason</td>
        <td align="left" th:text="${leave.leaveType.Id}">Leave type Id</td>
        <td align="left" th:text="${employeeId}">Employee Id</td>
		<td><a th:href="@{/leave/edit/}+${leave.id}" class="btn btn-default">Edit</a></td>
        <td><a th:href="@{/leave/withdraw/}+${leave.id}" class="btn btn-default">Delete</a></td>
      </tr>
    </table>
  </div>
</body>
</html>