<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset = "ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-expend-lg navbar-light bg-light">
	<h5 th:text="Registration"></h5>
	<a href="http://localhost:8080/admin/menu" class = "nav-link active mr-auto"><< Back</a>
	<a href="http://localhost:8080/logout" class = "nav-link active">Logout</a> 
	</nav>
	
	<br></br>
	
	<div class="row justify-content-center">
    <div class="col-sm-4">
    <center><div class = "card" style="width:25rem;">
	<form method="post" action="#" th:action="@{/admin/register}" th:object="${employee}" >

    	<fieldset class="form-group p-3">

        <div class="form-group text-left">
        	<label for="username">Username</label>
        	<input type="text" class="form-control username"  id = "username" th:field="*{username}"/>
        	<span th:if="${InvalidUsername != null}" th:text="${InvalidUsername}"></span>
	    	<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>
        
           
        <div class="form-group text-left">
        	<label for="password">Password</label>
	        <fieldset><input type="password"class="form-control password"  id = "password" th:field="*{password}"/></fieldset>
	        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        
        <div class="form-group text-left">
        	<label for="name">Full Name</label>
	        <fieldset><input type="text"class="form-control name"  id = "name" th:field="*{name}"/></fieldset>
	        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        
        <div class="form-group text-left">
        	<label for="phone">Phone</label>
	        <fieldset><input type="text"class="form-control phone"  id = "phone" th:field="*{phone}"/></fieldset>
	        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
        </div>
 
         <div class="form-group text-left">
        	<label for="emailAddress">Email Address</label>
	        <fieldset><input type="text"class="form-control phone"  id = "emailAddress" th:field="*{emailAddress}"/></fieldset>
	        <span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>
        </div>
        
         <div class="form-group text-left">
          <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="Admin" name="Admin" class="custom-control-input" value="1" th:field="*{role.Id}">
                <label class="custom-control-label" for="Admin">Admin</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="Manager" name="Manager" class="custom-control-input" value="2" th:field="*{role.Id}">
                <label class="custom-control-label" for="Manager">Manager</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="Staff" name="Staff" class="custom-control-input" value="3" th:field="*{role.Id}">
                <label class="custom-control-label" for="Staff">Staff</label>
          </div>
          <br></br>
          <span th:if="${EmptyRoleId != null}" th:text="${EmptyRoleId}"></span>
        </div>        
 
         <div class="form-group text-left">
          <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="Team1" name="Team1" class="custom-control-input" value="1" th:field="*{teamId}">
                <label class="custom-control-label" for="Team1">Team1</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="Team2" name="Team2" class="custom-control-input" value="2" th:field="*{teamId}">
                <label class="custom-control-label" for="Team2">Team2</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="Team3" name="Team3" class="custom-control-input" value="3" th:field="*{teamId}">
                <label class="custom-control-label" for="Team3">Team3</label>
          </div>
          <br></br>
	      <span th:if="${EmptyTeamId != null}" th:text="${EmptyTeamId}"></span>
        </div> 
          
        <td>&nbsp;</td>
	      <td>
	        <input class="btn btn-secondary" type="submit" value="Register">
	      </td>   
	                       
        </fieldset>
        
	</form>
    </div></center>
    </div></div>

</body>

</html>