<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <h3>Role List Page</h3>
  <a th:href="@{/admin/role/create}">Add Role</a>

  <div th:if="${not #lists.isEmpty(roleList)}">
    <table style="border: 1;">
      <tr class="listHeading">
        <th><span th:text="#{fieldLabel.roleId}"></span></th>
        <th><span th:text="#{fieldLabel.hierarchyValue}"></span></th>
        <th><span th:text="#{fieldLabel.roleName}"></span></th>
        <th><span th:text="#{fieldLabel.roleDesc}"></span></th>
        <th><span th:text="#{fieldLabel.active}"></span></th>
        <th><span th:text="#{caption.edit}"></span></th>
      </tr>
      <tr th:each="role : ${roleList}" class="listRecord">
        <td align="left" th:text="${role.Id}">Id</td>
        <td align="left" th:text="${role.hierarchyValue}">hierarchyValue</td>
         <td align="left" th:text="${role.name}">Name</td>
        <td align="left" th:text="${role.description}">Description</td>
        <td align="left" th:text="${role.active}">Active Status</td>
        <td><a th:href="@{/admin/role/edit/}+${role.Id}" class="btn btn-default">
                <span th:text="#{caption.edit}"></span></a></td>
        
      </tr>
    </table>
  </div>
</body>
</html>